<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Vacation Manager</title>
</head>
<body class="b1"><h2><center> Home page </center></h2><a href="/test">Get message</a>

<p style="background-image: url('https://images.unsplash.com/photo-1636953056323-9c09fdd74fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80.jpg');">

<h1>Welcome User</h1>
<form class="r1" action="/register" method="post">

    <label for="nickname">Nickname :

    </label><br/>
    <input id="nickname" type="text" name="nname"/><br/>

    <label for="password">Password :

    </label><br/>
    <input id="password" type="password" name="passwd"/><br/>

    </label><br/>
    <label for="firstname">First Name :

    </label><br/>
    <input id="firstname" type="text" name="fname"/><br/>
    <label for="lastname">Last Name :

    </label><br/>
    <input id="lastname" type="text" name="lname"/><br/>




    <label>Role :
    </label><br>
    <select name="role">

        <option value=""></option>
        <option value="CEO">CEO</option>
        <option value="Developer">Developer</option>
        <option value="Team Lead">Team Lead</option>
        <option value="Unassigned">Unassigned</option>

    </select>
    <br>
    <label for="team">Team :


    </label></br>
    <input id="team" type="text" name="team"/><br/>
    <br/>
    <button class="form-submit-button" type="submit">Register</button>
</form>
</body>

</html>